@charset "utf-8";
/* CSS Document */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1060px;
	margin-left: 20%;
	margin-right: 20%;
	z-index: 2;
}

.work {
	max-width: 1060px;
	margin-left: 20%;
	z-index: 2;
	background-color: white;
	padding-left: 40px;
	padding-bottom: 30px;
}

div.gradpic {
	float: right;
	width: 280px;
	padding-left: 50px;
	padding-bottom: 40px;
}

div.grouppic {
	float: left;
	width: 410px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}


img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}

#self {
	height: 100%;
	width: 100%;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both; }


.cf {
	*zoom: 1;
}

hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
}


@-webkit-keyframes fadeIn { from {opacity:0; } to { opacity:1; }}
@-moz-keyframes fadeIn { from {opacity:0; } to { opacity:1; }}
@keyframes fadeIn { from {opacity:0; } to { opacity:1; }} 

.fadeIn {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-wekbit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
	
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
	
}

/*regular content styles*/

html, body {
	width: 100%;
	height: 100%;
}

body{ font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal; 
color: #000000; margin-bottom: 20px; 
overflow-x: hidden;}

a {color: #000000; text-decoration: none; }
a:hover {color: #0F4688 }

h1 { font-family: itc-avant-garde-gothic-pro,sans-serif;
font-weight: 500;
font-style: normal; }

h2 { font-family: itc-avant-garde-gothic-pro,sans-serif;
	font-weight: 400; 
	font-style: bold;

}

h3 { font-family: itc-avant-garde-gothic-pro,sans-serif;
	font-weight: 200; 
	font-style: normal;
	padding-left: 20px;
}

header {margin: 0 0px 10px 0;
		
}

header {
	float: right;
	float: bottom;
}

div.about-nav {
	color: white;
}

div.about-nav-right {
	color: white;
}


#hustle {
position:absolute;
aspect-ratio:fixed;
top:75%;
left: 90%;
width: 50%;
background: url('_images/zachary-keimig-1066654-unsplash.jpg') no-repeat;
z-index: -9999;
animation: slide 1.75s forwards;
animation-delay: 5s;
}

.tilt {
	position: fixed;
	width: 70%;
	height: 70%;
	margin-top: 20%;
	margin-left: 55%;
	z-index: 3;
}


.regularlist li {
	margin: 10px 0 0 0;
	margin: 10px 0 0 0;
}

@keyframes slide {
	0% { left: 400px; opacity: 0;}
	100% { left: 20px; opacity: 1;}
}


/* Main Nav */
.main-nav {
	float:right;
	list-style: none;
	margin-top: 20px;
}

.main-nav li {
	display: inline-block;
	margin: 10px 0 0 0;
	margin: 10px 0 0 0;
}

.main-nav li a {
	display:block; 
	padding: 10px;
	text-transform: uppercase;
}

.main-nav li a:hover, 
.main-nav li a.active { background: #000000; color: white;}


.main-nav li a:hover,
.main-nav li a.active {
	text-decoration:underline;
		color: #FFFFFF;
}



/* main content */

#main-content {padding-top: 15%;}


div.about {
	padding-top: 15%; 
	padding-left: 5%; 
	padding-right: 5%; 
	color: white;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);}

div.resources {
	position: absolute;
	color: white;
	z-index: 2;
	margin-top: 9%;
	margin-left: 0%;
	margin-right: 24%;
}


/*Footer*/

footer {
	border: 1 px solid #eee; 
	background: #f7f7f7;
	margin-top: 2.5px;
	bottom: 10%;
	padding: 2.5px;
	z-index: 2;
}



.splash {
	background-color: #000000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center
}

.splash-title {
	color: #ffffff;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 3em;
	margin-top: 20%;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}


a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px ;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration:none;
	bottom: 50px;
}


div.fadebg{
	position:fixed;
	top: 0;
	left: 0 ;
	width: 100%;
	height: 100%;
	background-image: url("_images/andre-benz-1214056-unsplash-resized.jpg");
	z-index: -1;
	opacity: 0;
}

/* flip card */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
	display: inline-block;
	margin-right: 55px;
}

.float {
	width: 300px;
}



/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
	padding-bottom: 200px;

}


/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00bfff, 0 0 20px #00bfff, 0 0 25px #00bfff, 0 0 30px #00bfff, 0 0 35px #00bfff;
  }
  to {
    text-shadow: 0 0 15px #fff, 0 0 20px #44d0ff, 0 0 25px #44d0ff, 0 0 30px #44d0ff, 0 0 35px #44d0ff, 0 0 45px #44d0ff, 0 0 50px #44d0ff;
  }
}


