@charset "utf-8";
/* CSS Document */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1060px;
	width: 90%;
	margin: 0 auto;
	margin-left: 20%;
	margin-right: 20%;
	z-index: 2;
}

.work {
	max-width: 1060px;
	width: 75%;
	margin-left: 20%;
	z-index: 2;
	background-color: white;
	padding-left: 40px;
	padding-bottom: 300px;
	padding-right: 40px;
}


img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}

#self {
	height: 50%;
	width: 50%;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both; }


.cf {
	*zoom: 1;
}

hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
}


@-webkit-keyframes fadeIn { from {opacity:0; } to { opacity:1; }}
@-moz-keyframes fadeIn { from {opacity:0; } to { opacity:1; }}
@keyframes fadeIn { from {opacity:0; } to { opacity:1; }} 

.fadeIn {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-wekbit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
	
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
	
}

/*regular content styles*/

html, body {
	width: 100%;
	height: 100%;
}

body{ font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal; 
color: #000000; margin-bottom: 20px }

a {color: #000000; text-decoration: none; }
a:hover {color: #0F4688 }

h1 { font-family: itc-avant-garde-gothic-pro,sans-serif;
font-weight: 500;
font-style: normal; }

header {margin: 0 40px 10px 0;
		
}

header {
	float: right;
}

div.about-nav {
	color: white;
}


#hustle {
position:absolute;
aspect-ratio:fixed;
top:30%;
left: 90%;
width: 50%;
background: url('_images/zachary-keimig-1066654-unsplash.jpg') no-repeat;
z-index: -9999;
animation: slide 1.75s forwards;
	animation-delay: 0.25s;
}

.tilt {
	position: fixed;
	width: 70%;
	height: 70%;
	margin-top: 20%;
	margin-left: 45%;
}

/*
#skull {
	float: left;
	z-index: -1;
}
*/

@keyframes slide {
	0% { left: 400px; opacity: 0;}
	100% { left: 20px; opacity: 1;}
}


/* Main Nav */
.main-nav {
	float:right;
	list-style: none;
	margin-top: 20px;
}

.main-nav li {
	display: inline-block;
	margin: 10px 0 0 0;
	margin: 10px 0 0 0;
}

.main-nav li a {
	display:block; 
	padding: 10px;
	text-transform: uppercase;
}

.main-nav li a:hover, 
.main-nav li a.active { background: #000000; color: white;}


.main-nav li a:hover,
.main-nav li a.active {
	text-decoration:underline;
		color: #FFFFFF;
}



/* main content */

#main-content {padding-top: 15%;}


div.about {
	padding-top: 15%; 
	padding-left: 5%; 
	padding-right: 5%; 
	color: white;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);}

div.resources {
	position: absolute;
	color: white;
	z-index: 2;
}


/*Footer*/

footer {
	border: 1 px solid #eee; 
	background: #f7f7f7;
	margin-top: 2.5px;
	bottom: 10%;
	padding: 2.5px;
	z-index: 2;
}



.splash {
	background-color: #000000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center
}

.splash-title {
	color: #ffffff;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 3em;
	margin-top: 20%;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}


a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px ;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration:none;
	bottom: 50px;
}


div.fadebg{
	position:fixed;
	top: 0;
	left: 0 ;
	width: 100%;
	height: 100%;
	background-image: url("_images/andre-benz-1214056-unsplash.jpg");
	z-index: -1;
	opacity: 0;
}

